.rooms .room {
    margin: 10px 0px;
    border: 1px solid gray;
    padding: 0px 20px 20px 15px;
    position: relative;
    cursor: pointer;
}

.rooms .room h2 {
    margin-left: 35px;
}

.rooms .room h2 .location {
    font-size: 21px;
    color: #cbcbcb;
}

.rooms .room input {
    float:left;
    margin-top: 12px;
    zoom: 2;
}

.rooms .room .price {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    padding: 20px 7px 15px 7px;
}
